@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 27, 94, 0.213);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 27, 94, 0.778);
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 27, 94, 0.887);
}